<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"href="C:\Users\sonudr\.vscode\wrokspacerrr\flask\static\sytle.css">
    <title>Car Parking Application</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>


    <section id = "home">
        <div class="hero-image">
            <h1>Welcome to the Car Parking Application</h1>
            <p>Find Available parking Slots in real-time.</p>
            <img src="C:\Users\sonudr\.vscode\wrokspacerrr\Data\carParkImg.png"
        </div>
    </section>

    <section id = "about">
        <div class="container">
            <h2>About</h2>
            <p>The AI-enabled Car Parking application uses OpenCV, a popular computer vision library, toprovide advanced parking managemant.</p>
            <p>With the power of OpenCV , the application utilizes real-time video processiong and machine learning algorithm to analyze parking space.</p>
            <p>By leveraging computer vision technique, the system can accurately moniterparking occupany, notify Users of Available parking space</p>
        </div>
    </section>


    <section id = "features">
        <div class="container">
            <h2>Features</h2>
            <ul>
                <li>Real-time oarking slot availability</li>
                <li>Interactive map for navigation</li>
                <li>Online reservation system</li>
                <li>payment integration</li>
            </ul>
        </div>
    </section>


    <section id="contact">
        <div class="container">
            <h2>Contact</h2>
            <form>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea>
                
                <button type="submit">Send Message</button>
            </form>
        </div>
    </section>


    <div id="video-container"></div>

    <footer>
        <p>&copy;2023 Car Parking Application. All Right Reserved.</p>
    </footer>


    <script src="C:\Users\sonudr\.vscode\wrokspacerrr\flask\static\script.js"></script>

</body>
</html>
